#destination1, #destination2, #destination3, #error {

  display: none;
}

p {
  font-size: 200%;
}

h2 {
 color: orange;
 padding: left;
}


h3 {
  font-style: italic;
}

.container {
  padding-top: 10px;
  background-color: yellow;
}


.form {
  font-size: 50px;
}

.end {
  width: 100%;
  text-align: center;
}
