#resultText {
  diplay: none;
}
.top{
  background-color: #A0522D;

}
.destination{
  color: purple;
  font-style: italic;
  font-weight: bold;

}

.formBox{
  background-color: #FFEBCD;
  border-radius: 10px;
  padding: 15px;
}
.results{
  background-color: #FFFACD;
  border-radius: 10px;
  padding: 15px;
}
.row{
   background-color: #1e90ff;
   border-radius: 5px;
   padding: 5px: }


.description{
  font-size: 20px;
}

.images img{
   display: block;
   margin:auto;
   width: 90%;


}

body{
  background-color: #20B2AA;
}
